#screen {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

#reverse {
	border: 1px solid green;
	margin-top: 70px;
	margin-left: 5px;
}

.hud-container {
	display: grid;
}

.button {
	border: 1px solid red;
	width: 25px;
	height: 25px;
	margin: 5px 5px 5px 5px;
}

.overlay {
	position: absolute;
}

textarea {
	margin-top: 95px;
	margin-left: 5px;
}
